<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Links List</title>
  <script src="https://unpkg.com/htmx.org@1.4.1"></script>
  <script src="https://unpkg.com/htmx.org@1.4.1/dist/ext/client-side-templates.js"></script>
  <script src="https://unpkg.com/mustache@latest"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col space-between">
  <div hx-ext="client-side-templates">

      <!-- Trigger the load automatically when the page loads -->
      <div hx-get="/links"
          hx-swap="outerHTML"
          hx-trigger="load"
          hx-target="#links-list"
          mustache-template="links-template">
      </div>

      <form hx-post="/add-link" hx-swap="outerHTML">
        <div class="max-w-[600px] flex max-h-[80px] space-x-2 mx-auto p-3">
          <input type="text" name="url" placeholder="Enter new link" class="border-2 p-2 w-full">
          <button type="submit" class="bg-blue-500 w-full max-w-[100px] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Add Link
          </button>
        </div>
      </form>

      <div id="links-list">
      </div>

      <template id="links-template">
          <div class="max-w-[600px] mx-auto">
              {{# . }}
              <p class="p-3 border-b-2">
                  <a href="{{ url }}" class="text-blue-500 hover:text-blue-700">
                      {{ url }}
                  </a>
              </p>
              {{/. }}
          </div>
      </template>

  </div>
  <template id="success-message-template" class="mt-auto bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="alert">
    <div class="flex">
      <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
      <div>
        <p class="font-bold">Success</p>
        <p class="text-sm">{{ message }}</p>
      </div>
    </div>
  </template>

</body>
</html>
